/* Form */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container {
  display: flex;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

label {
  width: fit-content;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.submit-button:hover {
  cursor: pointer;
}

form input {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  flex: 1;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  /* margin: 0;
  width: 1rem;
  height: 1rem; */
  display: none;
}

input[type="checkbox"]:checked + .checkbox {
  background-color: var(--checkbox-color);
  color: var(--white);
}

.checkbox {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  border-radius: var(--border-radius);
}
