@import url(./Components/Form/Form.css);
@import url(./Components/List/List.css);

:root {
  /* Color */
  --primary-color: #2c2d32;
  --primary-color-shade: #23283d;
  --accent-color: #4d5066;
  --white: #fff;
  --gradient-color1: rgba(46, 21, 157, 0.2);
  --gradient-color2: rgba(120, 29, 119, 0.2);
  --checkbox-color: #4caf50;

  /* Border */
  --border-radius: 5px;
}

.weather-container {
  gap: 2rem;
  font-size: 2.4rem;
}

/* General */

#root {
  margin-top: 5rem;
  width: 500px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(
      90deg,
      var(--gradient-color1),
      var(--gradient-color2)
    ),
    #161721;
  color: var(--white);
  min-height: 100vh;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin: 1rem 0;
}
